
.bgi{
  width: 100%;
  height: 40em;
  position: relative;
  background-image: url('../images/titleimage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
*, *:before, *:after {
  box-sizing: border-box;
}


#app {
  position: relative;
}
#app:after {
  display: block;
  content: '';
  position: absolute;
  border-left: 10px solid #FFCA00;
  left: 1.528em;
  top: 50%;
  width: 0.278em;
  height: 60%;
  transform: translateY(-50%) scaleY(0);
  animation: left-border-expand .8s;
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}

.ui-slide-in {
  width: 100%;
  height: 50%;
  color: #000;
  padding: 15% 15% 15%;
  animation: ui-slide-in-move 1.25s;
  animation-timing-function: cubic-bezier(0.03, 0.98, 0.5, 1);
  transform-origin: left center;
  margin-top: -5%;
}
.ui-slide-in .text-wrapper {
  text-transform: uppercase;
  padding-left: 0.556em;
  overflow: hidden;
  font-size: 4em;
  text-align: center;

}

.line {
  opacity: 0;
  animation: word-line-slide-out .25s forwards;
  animation-timing-function: ease-out;
}
.line:nth-child(1n) {
  animation-delay: 0.5s;
}
.line:nth-child(2n) {
  animation-delay: 0.75s;
}
.line span {
  display: inline-block;
  height: 43.2px;
}

.yellow {
  color: #014292;
  font-family: 'Noto Sans', sans-serif;
  font-style: italic;
  font-size: 120%;
}

.black {
  font-family: 'Noto Sans', sans-serif;
  font-style: italic;
  font-size: 100%;
}

.thin {
  font-weight: 300;
}

@keyframes ui-slide-in-move {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}
@keyframes left-border-expand {
  100% {
    transform: translateY(-50%) scaleY(1);
  }
}
@keyframes word-line-slide-out {
  0% {
    transform: translateX(-10vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}
#buttons {
  display: flex;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translatex(-50%);
}
#buttons .postlink {
  display: inline-block;
  text-align: center;
  border-color: #3E82E6;
}
#buttons .postlink:hover {
  border-color: #FFCA00;
}

#refresh, .postlink {
  width: 250px;
  height: 70px;
  margin: 10px;
  font-size: 22px;
  border: 3px solid #28F2B3;
  color: white;
  line-height: 64px;
  background: none;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0 0 5px #222;
  border-radius: 70px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  transition: all .3s;
}
#refresh:hover, .postlink:hover {
  border-color: #FFCA00;
}

@media screen and (max-width:650px) {
  .ui-slide-in .text-wrapper {
    font-size:2.4em;
}
.ui-slide-in {
  padding: 1% 1% 1% 1%;
  margin-top: 35%;
  transform: translate( -3%);
}
.FBLALOGO{
  margin-top: .3%;
  width: 35%
}
}
section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 47.5%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 500 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}
#section02 a {
  padding-top: 60px;

}
#section02{
left: -1%;
}
#section02 a span {
  position: absolute;
  transform: translate(0, -50%);
  top: 25%;
  left: 60%;
  width: 46px;
  height: 46px;
  margin-left: -34%;
  border: 3px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#section02 a span::after {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -25% 0 0 -20%;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
#section02{
  left: -11%;
  margin-top: -10%;
}
