html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -webkit-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga", "kern";
  font-family: "Montserrat", "HelveticaNeueLTStd", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.5;
}
.fadein {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.fadein.lazyloaded {
  opacity: 1;
}

}
.blur-up {
  will-change: filter, opacity, transform;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  transition: opacity 1s, blur 0.3s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s, blur 0.3s;
  transition: transform 1s, opacity 1s, blur 0.3s, -webkit-transform 1s;
  opacity: 0;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transform-origin: center;
          transform-origin: center;
}
.blur-up:not(.lazyload) {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.blur-up.lazyloaded {
  -webkit-filter: blur(0);
          filter: blur(0);
}

.spinner {
  background: rgba(0, 0, 0, 0.0) url("../images/ui/spinner.svg") no-repeat center;
}

::-moz-selection {
  color: white;
  background: black;
  text-shadow: none;
}

::selection {
  color: white;
  background: black;
  text-shadow: none;
}

.custom-background:after {
  content: "";
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  z-index: -3;
  background-attachment: scroll;
  min-height: 100vh;
  height: calc(100vw * 16 / 9);
}
@media (orientation: landscape) {
  .custom-background:after {
    height: calc(100vw * 3 / 4);
  }
}

[id=wrapper] .page-header > *:first-child:not(img):not(form):not(figure):not(div), [id=sidebar] > * > *:first-child:not(img):not(form):not(figure):not(div), [id=footer] .container > *:first-child:not(img):not(form):not(figure):not(div) {
  margin-top: -0.25em;
}
[id=wrapper] .page-header > *:last-child:not(img):not(form):not(figure):not(div), [id=sidebar] > * > *:last-child:not(img):not(form):not(figure):not(div), [id=footer] .container > *:last-child:not(img):not(form):not(figure):not(div) {
  margin-bottom: -0.25em;
}

[id=sidebar] a {
  position: relative;
  display: inline-block;
}

.FBLALOGO {
float:left;
width: 36%;
margin-top: .4%;
left: 0%;
position: relative;
z-index:10000;
}

[id=sidebar] a:before, [id=sidebar] a:after {
  content: "";
  position: relative;
  top: -0.5em;
  right: -0.75em;
  bottom: -0.5em;
  left: -0.75em;
  display: block;
}
[id=sidebar] a:before {
  -webkit-transform-origin: right 0;
          transform-origin: right 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: -webkit-transform 0.3s, -webkit-transform-origin 0.3s;
  transition: transform 0.3s, transform-origin 0.3s;
  transition: transform 0.3s, transform-origin 0.3s, -webkit-transform 0.3s, -webkit-transform-origin 0.3s;
  background: black;
  z-index: -1;
}
[id=sidebar] a:hover {
  color: white;
  transition: color 0.15s 0.15s;
}
[id=sidebar] a:hover:before {
  -webkit-transform-origin: left 0;
          transform-origin: left 0;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  transition: -webkit-transform-origin 0s, -webkit-transform 0.3s;
  transition: transform-origin 0s, transform 0.3s;
  transition: transform-origin 0s, transform 0.3s, -webkit-transform-origin 0s, -webkit-transform 0.3s;
}
[id=sidebar] a:hover:after {
  z-index: 1;
}

[id=sidebar] > * {
  position: relative;
}
[id=sidebar] > :before {
  content: "";
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: calc((.75rem + 1.25vw)*-1);
  z-index: -2;
  transition: background 0.2s ease;
  background-color: rgba(255, 255, 255, 0);
}
[id=sidebar] > :hover:before, [id=sidebar] > :focus:before {
  background-color: white;
}

.single [id=main] {
  position: relative;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
.single [id=main]:before {
  content: "";
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: calc((.75rem + 1.25vw)*-1);
  background: white;
}

h1, h2, fieldset legend, h3, h4, h5, h6 {
  margin: 1rem 0;
  font-family: "Montserrat", "HelveticaNeueLTStd", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
h1:not([class]), h2:not([class]), fieldset legend:not([class]), h3:not([class]), h4:not([class]), h5:not([class]), h6:not([class]) {
  max-width: 60rem;
}

h1 {
  font-weight: 600;
  line-height: 1.25;
}
h1 {
  font-size: 1.2961572031rem;
}
@media screen and (min-width: 37.5rem) {
  h1 {
    font-size: calc(1.2961572031rem + 1.8611773152 * ((100vw - 37.5rem) / 42.5));
  }
}
@media screen and (min-width: 80rem) {
  h1 {
    font-size: 3.1573345183rem;
  }
}

h2, fieldset legend {
  font-weight: 600;
  line-height: 1.375;
}
h2, fieldset legend {
  font-size: 1.214767763rem;
}
@media screen and (min-width: 37.5rem) {
  h2, fieldset legend {
    font-size: calc(1.214767763rem + 1.153825274 * ((100vw - 37.5rem) / 42.5));
  }
}


}
@media screen and (min-width: 80rem) {
  h2, fieldset legend {
    font-size: 2.368593037rem;
  }
}

h3 {
  font-weight: 500;
}
h3 {
  font-size: 1.138489rem;
}
@media screen and (min-width: 37.5rem) {
  h3 {
    font-size: calc(1.138489rem + 0.6384 * ((100vw - 37.5rem) / 42.5));
  }
}
@media screen and (min-width: 80rem) {
  h3 {
    font-size: 1.776889rem;
  }
}

h4 {
  font-weight: 500;
}
h4 {
  font-size: 1.067rem;
}
@media screen and (min-width: 37.5rem) {
  h4 {
    font-size: calc(1.067rem + 0.266 * ((100vw - 37.5rem) / 42.5));
  }
}
@media screen and (min-width: 80rem) {
  h4 {
    font-size: 1.333rem;
  }
}

h5 {
  font-weight: 500;
}
h5 {
  font-size: 1rem;
}
@media screen and (min-width: 37.5rem) {
  h5 {
    font-size: calc(1rem + 0 * ((100vw - 37.5rem) / 42.5));
  }
}
@media screen and (min-width: 80rem) {
  h5 {
    font-size: 1rem;
  }
}

h6 {
  font-weight: 500;
}
h6 {
  font-size: 0.9372071228rem;
}
@media screen and (min-width: 37.5rem) {
  h6 {
    font-size: calc(0.9372071228rem + -0.1870195759 * ((100vw - 37.5rem) / 42.5));
  }
}
@media screen and (min-width: 80rem) {
  h6 {
    font-size: 0.7501875469rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
a:focus {
  outline: none;
}

small {
  font-size: 0.75rem;
}

@media (max-width: 640px) {
  pre {
    overflow: hidden;
  }
}

p, ul, dl, ol, blockquote {
  margin: 1.25em 0;
}
p:not([class]), ul:not([class]), dl:not([class]), ol:not([class]), blockquote:not([class]) {
  max-width: 60rem;
}

ul {
  list-style-type: square;
}

hr {
  border: none;
  border-bottom: 2px dashed black;
  margin: calc(.75rem + 1.25vw) 0;
}

fieldset {
  border: 1rem solid rgba(0, 0, 0, 0.02);
  margin-left: -1rem;
  margin-right: -1rem;
  padding: calc(.75rem + 1.25vw);
}
fieldset legend {
  border: 1rem solid rgba(0, 0, 0, 0.02);
  margin-bottom: 0;
  background-color: white;
  padding: 0.25em 0.5em;
}
fieldset > * {
  margin-left: auto;
  margin-right: auto;
}

figure {
  margin: 0;
}
figure[style] {
  max-width: 100%;
}

img, svg {
  max-width: 100%;
  height: auto;
  border: 0;
}

table {
  background: rgba(0, 0, 0, 0.02);
  width: 100%;
}
table th, table td {
  padding: 0.75em 1em;
}
table th:not(:last-child), table td:not(:last-child) {
  border-right: 0.5rem solid white;
}
table tr:not(:last-child) td, table tr:not(:last-child) th {
  border-bottom: 0.5rem solid white;
}
table th {
  background: rgba(0, 0, 0, 0.02);
}
table td {
  font-size: 0.875em;
}
table th, table caption {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1em;
}
table caption {
  padding: 1.25em 0.5em 0;
}

ol, ul {
  padding: 0;
  list-style-position: inside;
}
ol li + li, ul li + li {
  margin-top: 0.5em;
}

[id=main] .entry {
  font-family: "PT Serif", serif;
}
[id=main] .entry a {
  text-decoration: underline;
}

.container, body:not(.has-gallery):not(.single-format-gallery):not(.page-template-gallery) [id=wrapper], .single-format-gallery [id=sidebar], .page-template-gallery [id=sidebar] {
  max-width: 100rem;
  padding-left: calc(.75rem + 1.25vw);
  padding-right: calc(.75rem + 1.25vw);
  margin-left: auto;
  margin-right: auto;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

[id=wrapper] {
  flex: 1;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding-top: calc(.75rem + 1.25vw);
  padding-bottom: calc((.75rem + 1.25vw)*2);
}
@media (min-width: 1020px) {
  body:not(.has-gallery) [id=wrapper], body:not(.single-format-gallery) [id=wrapper], [id=wrapper] body:not(.page-template-gallery) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}
[id=wrapper] > * + * {
  margin-top: calc((.75rem + 1.25vw)*2);
}
.has-gallery [id=wrapper], .has-gallery [id=wrapper] main, .single-format-gallery [id=wrapper], .single-format-gallery [id=wrapper] main, .page-template-gallery [id=wrapper], .page-template-gallery [id=wrapper] main {
  padding-top: 0;
  max-width: none;
}
[id=wrapper] .gallery-grid:first-child {
  padding-top: calc((.75rem + 1.25vw)*2);
}
[id=wrapper] .gallery-grid:last-child {
  padding-bottom: calc((.75rem + 1.25vw)*2);
}
[id=wrapper] .page-header {
  text-align: center;
  margin-bottom: calc((.75rem + 1.25vw)*2);
  text-transform: uppercase;
}

@media (min-width: 1020px) {
  [id=main] {
    width: calc(100% - 280px + ((.75rem + 1.25vw)*-1*2));
    margin-right: calc((.75rem + 1.25vw)*2);
  }
  [id=main]:only-child, .single-format-gallery [id=main], .page-template-gallery [id=main] {
    width: 100%;
    margin-right: 0;
  }
}
.single [id=main]:not(:only-child) + * {
  margin-left: calc((.75rem + 1.25vw)*2);
}
[id=main] > * + * {
  margin-top: calc((.75rem + 1.25vw)*3);
}

[id=sidebar] {
  font-size: 0.75em;
  transition: color 0.15s 0.15s;
}
@media (min-width: 1020px) {
  body:not(.single-format-gallery):not(.page-template-gallery) [id=sidebar] {
    width: calc(280px);
    margin-top: 0;
  }
}
[id=sidebar] > * + * {
  margin-top: calc((.75rem + 1.25vw)*2);
}
@media (min-width: 640px) and (max-width: 769px) {
  [id=sidebar] {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  [id=sidebar] > [class*=search] {
    width: 100%;
  }
  [id=sidebar] > *:not([class*=search]) {
    width: calc((100% - 1.5rem - 3vw)/2);
  }
}
[id=sidebar] h1, [id=sidebar] h2, [id=sidebar] fieldset legend, fieldset [id=sidebar] legend {
  font-size: 1.25em;
  text-transform: uppercase;
  white-space: nowrap;
  border-bottom: 2px solid;
  padding-bottom: 0.5rem;
}
[id=sidebar] li {
  display: block;
  padding-left: calc(.75rem + 1.25vw);
  position: relative;
}
[id=sidebar] li:before {
  content: "";
  position: relative;
  top: calc(.75em - 1px);
  left: 0;
  border-top: 2px solid;
  width: 4px;
}
@media (min-width: 770px) {
  .single-format-gallery [id=sidebar], .page-template-gallery [id=sidebar] {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }
  .single-format-gallery [id=sidebar] > *[class*=search], .page-template-gallery [id=sidebar] > *[class*=search] {
    width: 100%;
  }
  .single-format-gallery [id=sidebar] > *:not([class*=search]), .page-template-gallery [id=sidebar] > *:not([class*=search]) {
    width: calc((100% - (.75rem + 1.25vw)*8) / 4);
  }
  .single-format-gallery [id=sidebar] > *, .page-template-gallery [id=sidebar] > * {
    margin: calc(.75rem + 1.25vw);
  }
}
[id=sidebar].background--dark, [id=sidebar].background--complex, .background--dark [id=sidebar] {
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
[id=sidebar].background--dark > *:hover, [id=sidebar].background--complex > *:hover, .background--dark [id=sidebar] > *:hover {
  color: black;
  text-shadow: none;
}

[id=footer] {
  text-align: center;
  position: relative;
}
[id=footer] .container {
  padding: calc((.75rem + 1.25vw)*2) 0;
  min-height: 100%;
  box-sizing: border-box;
}
[id=footer] .container:after {
  left: auto;
  right: calc(.75rem + 1.25vw);
}
[id=footer] .container > * {
  display: block;
}
[id=footer] .container > * + * {
  margin-top: calc(.75rem + 1.25vw);
}
[id=footer] .footer-title {
  font-weight: 600;
  font-size: 1.5em;
}
[id=footer] .footer-entry {
  text-transform: uppercase;
  font-size: 0.75em;
}
[id=footer] .container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
[id=footer] .container:before {
  content: "";
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("images/ui/target.svg") no-repeat left top, url("images/ui/target.svg") no-repeat right top, url("images/ui/target.svg") no-repeat left bottom, url("images/ui/target.svg") no-repeat right bottom;
  margin: 0 -16px -16px;
  z-index: -1;
}
.custom-background [id=footer] {
  height: 100vh;
  overflow: visible;
}
.custom-background [id=footer] .container {
  display: flex;
  flex-direction: column;
}
.custom-background [id=footer] .container:before {
  margin: calc(.75rem + 1.25vw);
  background-image: url("http://dev.mobilemarkup.com/calibration/wp-content/themes/calibration/assets/images/ui/target-background.svg");
  background-size: contain;
  background-position: center;
}
.custom-background [id=footer] .container > *:first-child {
  margin-top: auto !important;
}
[id=footer].background--dark, .background--dark [id=footer] {
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

[id=header] {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
  background: white;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.125);
  transition: all 0.3s cubic-bezier(0.5, 0, 0, 1) 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
[id=header]:hover {
  transition: all 0.3s cubic-bezier(0.5, 0, 0, 1);
}
[id=header] .container {
  max-width: none;
}
[id=header] .brand {
  padding-top: calc(1.375rem + 0.625vw);
  padding-bottom: calc(1.375rem + 0.625vw);
}
[id=header] .brand > * + * {
  margin-left: calc(.75rem + 1.25vw);
}
[id=header] .custom-logo {
  vertical-align: middle;
  margin: calc(((1.375rem + 0.625vw)*-1)/2) 0;
  max-height: calc(1rem + .75rem + 1.25vw);
  width: auto;
}
[id=header] .logo {
  font-weight: 600;
  display: inline-block;
}
[id=header] .tagline {
  font-size: 12px;
  display: none;
  cursor: default;
  color: white;
}
@media (min-width: 640px) {
  [id=header] .tagline {
    display: inline;
  }
}
@media (max-width: 640px) {
  body:not([class*=menu]) [id=header] {
    position: static !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
  body:not([class*=menu]) [id=header] + * {
    margin-top: 0 !important;
  }
}
[id=header] .menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
}
@media (min-width: 640px) {
  body:not([class*=menu]) [id=header] .menu-toggle {
    display: none;
  }
}
.menu-desktop [id=header] .menu-toggle {
  display: none;
}
[id=header] nav {
  padding-top: calc(1.375rem + 0.625vw);
  padding-bottom: calc(1.375rem + 0.625vw);
}
@media(max-width: $mobile - 1px) {
  .menu-desktop [id=header] nav {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
@media(min-width: $mobile) {}
[id=header] nav[style*=hidden] + .menu-toggle {
  visibility: hidden;
}
@media (min-width: 640px) {
  body:not([class*=menu]) [id=header] {
    display: flex;
    flex-flow: row wrap;
  }
  body:not([class*=menu]) [id=header] .brand {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  body:not([class*=menu]) [id=header] .nav {
    position: static;
  }
}
.menu-desktop [id=header] {
  display: flex;
  flex-flow: row wrap;
}
.menu-desktop [id=header] .brand {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-desktop [id=header] .nav {
  position: static;
}
.has-header-image [id=header] {
  padding: 0;
  background: none;
}
.has-header-image [id=header] .brand {
  position: fixed;
  top: 0;
  padding-top: calc(1.375rem + 0.625vw);
  padding-bottom: calc(1.375rem + 0.625vw);
}
.has-header-image [id=header] .nav {
  position: absolute;
  right: 0;
  bottom: 0;
}
.menu-mobile .has-header-image [id=header] .nav {
  position: static;
  padding: 0;
}
.has-header-image [id=header] .wp-custom-header {
  z-index: -10;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.125);
}
.has-header-image [id=header] .wp-custom-header img {
  display: block;
  width: 100%;
}
[id=header].headroom--not-top {
  position: fixed;
}
[id=header].headroom--not-top .brand {
  position: relative;
}
[id=header].headroom--not-top .wp-custom-header {
  position: absolute;
  bottom: 0;
}
[id=header].headroom--unpinned {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

html.nav-open, html.nav-open body {
  overflow: hidden !important;
  height: 100% !important;
}

.sub-menu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  line-height: inherit;
  cursor: pointer;
  color: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: none;
  outline: none;
}
.sub-menu-toggle:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
          transform: translate(-50%, -50%) rotate(45deg) scale(1);
  opacity: 0.5;
}
.sub-menu-toggle:hover:after, .no-touchevents .sub-menu-toggle {
  opacity: 1;
}
.open ~ .sub-menu-toggle:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(-1);
          transform: translate(-50%, -50%) rotate(45deg) scale(-1);
}

[id=nav] {
  position: relative;
  font-weight: 600;
  font-size: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
[id=nav] ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 639px) {
  body:not([class*=menu]) [id=nav] {
    position: fixed;
    top: calc((1.375rem + 0.625vw)*2 + 1rem);
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    transition: opacity 0.3s cubic-bezier(0.5, 0, 0, 1);
    will-change: opacity;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: static;
    opacity: 1;
    visibility: visible;
  }
  .nav-open body:not([class*=menu]) [id=nav] {
    transition: all 0.3s cubic-bezier(0.5, 0, 0, 1) 0.2s;
    opacity: 1;
    visibility: visible;
  }
  body:not([class*=menu]) [id=nav] .menu {
    display: none;
    overflow: hidden;
    min-width: 18rem;
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
  }
  body:not([class*=menu]) [id=nav] .menu.open {
    display: block;
  }
  body:not([class*=menu]) [id=nav] .menu > li {
    padding: 0.75rem 0;
    overflow: hidden;
    position: relative;
  }
  body:not([class*=menu]) [id=nav] .menu > li + li {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  body:not([class*=menu]) [id=nav] .menu > li > a {
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  body:not([class*=menu]) [id=nav] .menu > li > button {
    padding: 1.5em;
  }
  body:not([class*=menu]) [id=nav] a, body:not([class*=menu]) [id=nav] button {
    padding: 0.75em 0;
    display: block;
    min-height: 1rem;
  }
  body:not([class*=menu]) [id=nav] ul {
    display: none;
    overflow: hidden;
    font-size: 14px;
  }
  body:not([class*=menu]) [id=nav] .menu > li > ul > li {
    display: inline-block;
    min-width: calc(50% - 1.2em);
    box-sizing: border-box;
    vertical-align: top;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
  body:not([class*=menu]) [id=nav] .menu > li > ul li {
    margin: 0.5em 0 0.5em 1em;
  }
  body:not([class*=menu]) [id=nav] .menu > li > ul li li {
    text-align: right;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
  body:not([class*=menu]) [id=nav] .menu > li > ul a, body:not([class*=menu]) [id=nav] .menu > li > ul button {
    padding: 0.25em 1.5em;
  }
  body:not([class*=menu]) [id=nav] .menu > li > ul [class*=children] {
    padding-right: 1.5em;
    position: relative;
  }
  body:not([class*=menu]) [id=nav] ul {
    display: block !important;
  }
}
@media (min-width: 640px) {
  body:not([class*=menu]) [id=nav] .menu {
    display: block !important;
  }
  body:not([class*=menu]) [id=nav] .sub-menu, body:not([class*=menu]) [id=nav] .children {
    display: block;
  }
  body:not([class*=menu]) [id=nav] .menu > li {
    position: relative;
    display: inline-block;
  }
  body:not([class*=menu]) [id=nav] .menu > li + li {
    margin-left: 1em;
  }
  body:not([class*=menu]) [id=nav] .menu > li > .sub-menu, body:not([class*=menu]) [id=nav] .menu > li > .children {
    display: block !important;
  }
  body:not([class*=menu]) [id=nav] .menu > li[class*=children]:before {
    content: "";
    position: absolute;
    top: 100%;
    right: 1em;
    left: 1em;
    height: calc(1.375rem + 0.625vw);
    z-index: 3;
    cursor: pointer;
  }
  body:not([class*=menu]) [id=nav] .menu > li[class*=children]:after {
    content: "";
    position: absolute;
    top: calc(100% + (.75rem + 1.25vw)/2);
    left: 50%;
    margin-top: -6px;
    margin-left: -4px;
    width: 4px;
    height: 4px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    opacity: 0.5;
  }
  body:not([class*=menu]) [id=nav] .menu > li[class*=children]:hover:after {
    opacity: 1;
  }
  body:not([class*=menu]) [id=nav] .menu > li > a {
    text-transform: uppercase;
    display: block;
    padding: 0 1em;
  }
  body:not([class*=menu]) [id=nav] .menu > li > .sub-menu-toggle {
    display: none;
  }
  body:not([class*=menu]) [id=nav] .menu > li li[class*=children] > a {
    padding-right: 3.25em;
  }
  body:not([class*=menu]) [id=nav] .menu > li > .sub-menu, body:not([class*=menu]) [id=nav] .menu > li > .children {
    position: absolute;
    top: 100%;
    margin: calc(1.375rem + 0.625vw) -1em 0;
    min-width: calc(100% + 2em);
    background-color: white;
    white-space: nowrap;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.125);
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.5, 0, 0, 1), visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }
  body:not([class*=menu]) [id=nav] .menu > li > .sub-menu:before, body:not([class*=menu]) [id=nav] .menu > li > .children:before {
    content: "";
    position: absolute;
    top: calc((1.375rem + 0.625vw)*-1);
    right: calc((.75rem + 1.25vw)*-1);
    bottom: calc((1.375rem + 0.625vw)*-1);
    left: calc((.75rem + 1.25vw)*-1);
    z-index: -1;
  }
  body:not([class*=menu]) [id=nav] .menu > li:active > .sub-menu, body:not([class*=menu]) [id=nav] .menu > li:active > .children, body:not([class*=menu]) [id=nav] .menu > li:focus > .sub-menu, body:not([class*=menu]) [id=nav] .menu > li:focus > .children, body:not([class*=menu]) [id=nav] .menu > li:hover > .sub-menu, body:not([class*=menu]) [id=nav] .menu > li:hover > .children {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    visibility: visible;
    z-index: 1;
    transition-delay: 0s, 0s, 0.3s;
  }
  body:not([class*=menu]) [id=nav] .menu > li > a:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    -webkit-transform: translate3d(-50%, calc((1.375rem + 0.625vw)*-1), 0);
            transform: translate3d(-50%, calc((1.375rem + 0.625vw)*-1), 0);
    width: 0.5rem;
    border-bottom: 2px solid;
    transition: all 0.3s cubic-bezier(0.5, 0, 0, 1), opacity 0.3s cubic-bezier(0.5, 0, 0, 1);
    opacity: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    will-change: transition;
  }
  body:not([class*=menu]) [id=nav] .menu > li[class*=current] > a:before, body:not([class*=menu]) [id=nav] .menu > li:hover > a:before, body:not([class*=menu]) [id=nav] .menu > li:active > a:before, body:not([class*=menu]) [id=nav] .menu > li:focus > a:before {
    -webkit-transform: translate3d(-50%, -1em, 0);
            transform: translate3d(-50%, -1em, 0);
    opacity: 0.5;
  }
  body:not([class*=menu]) [id=nav] .menu > li:hover > a:before {
    opacity: 1;
  }
  body:not([class*=menu]) [id=nav] [class*=current] > a {
    font-weight: bold;
  }
  body:not([class*=menu]) [id=nav] li li {
    margin: 0;
    position: relative;
  }
  body:not([class*=menu]) [id=nav] .sub-menu, body:not([class*=menu]) [id=nav] .children {
    display: block;
    color: black;
    text-shadow: none;
  }
  body:not([class*=menu]) [id=nav] .sub-menu li, body:not([class*=menu]) [id=nav] .children li {
    max-width: 24em;
  }
  body:not([class*=menu]) [id=nav] .sub-menu a, body:not([class*=menu]) [id=nav] .sub-menu .sub-menu-toggle, body:not([class*=menu]) [id=nav] .children a, body:not([class*=menu]) [id=nav] .children .sub-menu-toggle {
    display: block;
    padding: 1em 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  body:not([class*=menu]) [id=nav] .sub-menu [class*=current] > a, body:not([class*=menu]) [id=nav] .sub-menu a:hover, body:not([class*=menu]) [id=nav] .children [class*=current] > a, body:not([class*=menu]) [id=nav] .children a:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  body:not([class*=menu]) [id=nav] .sub-menu .sub-menu, body:not([class*=menu]) [id=nav] .sub-menu .children, body:not([class*=menu]) [id=nav] .children .sub-menu, body:not([class*=menu]) [id=nav] .children .children {
    display: none;
  }
  body:not([class*=menu]) [id=nav] .sub-menu .sub-menu.open, body:not([class*=menu]) [id=nav] .sub-menu .children.open, body:not([class*=menu]) [id=nav] .children .sub-menu.open, body:not([class*=menu]) [id=nav] .children .children.open {
    display: block;
  }
  body:not([class*=menu]) [id=nav] .sub-menu .sub-menu a, body:not([class*=menu]) [id=nav] .sub-menu .children a, body:not([class*=menu]) [id=nav] .children .sub-menu a, body:not([class*=menu]) [id=nav] .children .children a {
    text-align: right;
    padding-right: 3.25em;
  }
}
.menu-mobile [id=nav] {
  position: fixed;
  top: calc((1.375rem + 0.625vw)*2 + 1rem);
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  transition: opacity 0.3s cubic-bezier(0.5, 0, 0, 1);
  will-change: opacity;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.nav-open .menu-mobile [id=nav] {
  transition: all 0.3s cubic-bezier(0.5, 0, 0, 1) 0.2s;
  opacity: 1;
  visibility: visible;
}
.menu-mobile [id=nav] .menu {
  display: none;
  overflow: hidden;
  min-width: 18rem;
  max-width: 75vw;
  margin-left: auto;
  margin-right: auto;
}
.menu-mobile [id=nav] .menu.open {
  display: block;
}
.menu-mobile [id=nav] .menu > li {
  padding: 0.75rem 0;
  overflow: hidden;
  position: relative;
}
.menu-mobile [id=nav] .menu > li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.menu-mobile [id=nav] .menu > li > a {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.menu-mobile [id=nav] .menu > li > button {
  padding: 1.5em;
}
.menu-mobile [id=nav] a, .menu-mobile [id=nav] button {
  padding: 0.75em 0;
  display: block;
  min-height: 1rem;
}
.menu-mobile [id=nav] ul {
  display: none;
  overflow: hidden;
  font-size: 14px;
}
.menu-mobile [id=nav] .menu > li > ul > li {
  display: inline-block;
  min-width: calc(50% - 1.2em);
  box-sizing: border-box;
  vertical-align: top;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.menu-mobile [id=nav] .menu > li > ul li {
  margin: 0.5em 0 0.5em 1em;
}
.menu-mobile [id=nav] .menu > li > ul li li {
  text-align: right;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.menu-mobile [id=nav] .menu > li > ul a, .menu-mobile [id=nav] .menu > li > ul button {
  padding: 0.25em 1.5em;
}
.menu-mobile [id=nav] .menu > li > ul [class*=children] {
  padding-right: 1.5em;
  position: relative;
}
.menu-desktop [id=nav] .menu {
  display: block !important;
}
.menu-desktop [id=nav] .sub-menu, .menu-desktop [id=nav] .children {
  display: block;
}
.menu-desktop [id=nav] .menu > li {
  position: relative;
  display: inline-block;
}
.menu-desktop [id=nav] .menu > li + li {
  margin-left: 1em;
}
.menu-desktop [id=nav] .menu > li > .sub-menu, .menu-desktop [id=nav] .menu > li > .children {
  display: block !important;
}
.menu-desktop [id=nav] .menu > li[class*=children]:before {
  content: "";
  position: absolute;
  top: 100%;
  right: 1em;
  left: 1em;
  height: calc(1.375rem + 0.625vw);
  z-index: 3;
  cursor: pointer;
}
.menu-desktop [id=nav] .menu > li[class*=children]:after {
  content: "";
  position: absolute;
  top: calc(100% + (.75rem + 1.25vw)/2);
  left: 50%;
  margin-top: -6px;
  margin-left: -4px;
  width: 4px;
  height: 4px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0.5;
}
.menu-desktop [id=nav] .menu > li[class*=children]:hover:after {
  opacity: 1;
}
.menu-desktop [id=nav] .menu > li > a {
  text-transform: uppercase;
  display: block;
  padding: 0 1em;
}
.menu-desktop [id=nav] .menu > li > .sub-menu-toggle {
  display: none;
}
.menu-desktop [id=nav] .menu > li li[class*=children] > a {
  padding-right: 3.25em;
}
.menu-desktop [id=nav] .menu > li > .sub-menu, .menu-desktop [id=nav] .menu > li > .children {
  position: absolute;
  top: 100%;
  margin: calc(1.375rem + 0.625vw) -1em 0;
  min-width: calc(100% + 2em);
  background-color: white;
  white-space: nowrap;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.125);
  opacity: 0;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.5, 0, 0, 1), visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.menu-desktop [id=nav] .menu > li > .sub-menu:before, .menu-desktop [id=nav] .menu > li > .children:before {
  content: "";
  position: absolute;
  top: calc((1.375rem + 0.625vw)*-1);
  right: calc((.75rem + 1.25vw)*-1);
  bottom: calc((1.375rem + 0.625vw)*-1);
  left: calc((.75rem + 1.25vw)*-1);
  z-index: -1;
}
.menu-desktop [id=nav] .menu > li:active > .sub-menu, .menu-desktop [id=nav] .menu > li:active > .children, .menu-desktop [id=nav] .menu > li:focus > .sub-menu, .menu-desktop [id=nav] .menu > li:focus > .children, .menu-desktop [id=nav] .menu > li:hover > .sub-menu, .menu-desktop [id=nav] .menu > li:hover > .children {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  visibility: visible;
  z-index: 1;
  transition-delay: 0s, 0s, 0.3s;
}
.menu-desktop [id=nav] .menu > li > a:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate3d(-50%, calc((1.375rem + 0.625vw)*-1), 0);
          transform: translate3d(-50%, calc((1.375rem + 0.625vw)*-1), 0);
  width: 0.5rem;
  border-bottom: 2px solid;
  transition: all 0.3s cubic-bezier(0.5, 0, 0, 1), opacity 0.3s cubic-bezier(0.5, 0, 0, 1);
  opacity: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transition;
}
.menu-desktop [id=nav] .menu > li[class*=current] > a:before, .menu-desktop [id=nav] .menu > li:hover > a:before, .menu-desktop [id=nav] .menu > li:active > a:before, .menu-desktop [id=nav] .menu > li:focus > a:before {
  -webkit-transform: translate3d(-50%, -1em, 0);
          transform: translate3d(-50%, -1em, 0);
  opacity: 0.5;
}
.menu-desktop [id=nav] .menu > li:hover > a:before {
  opacity: 1;
}
.menu-desktop [id=nav] [class*=current] > a {
  font-weight: bold;
}
.menu-desktop [id=nav] li li {
  margin: 0;
  position: relative;
}
.menu-desktop [id=nav] .sub-menu, .menu-desktop [id=nav] .children {
  display: block;
  color: black;
  text-shadow: none;
}
.menu-desktop [id=nav] .sub-menu li, .menu-desktop [id=nav] .children li {
  max-width: 24em;
}
.menu-desktop [id=nav] .sub-menu a, .menu-desktop [id=nav] .sub-menu .sub-menu-toggle, .menu-desktop [id=nav] .children a, .menu-desktop [id=nav] .children .sub-menu-toggle {
  display: block;
  padding: 1em 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-desktop [id=nav] .sub-menu [class*=current] > a, .menu-desktop [id=nav] .sub-menu a:hover, .menu-desktop [id=nav] .children [class*=current] > a, .menu-desktop [id=nav] .children a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.menu-desktop [id=nav] .sub-menu .sub-menu, .menu-desktop [id=nav] .sub-menu .children, .menu-desktop [id=nav] .children .sub-menu, .menu-desktop [id=nav] .children .children {
  display: none;
}
.menu-desktop [id=nav] .sub-menu .sub-menu.open, .menu-desktop [id=nav] .sub-menu .children.open, .menu-desktop [id=nav] .children .sub-menu.open, .menu-desktop [id=nav] .children .children.open {
  display: block;
}
.menu-desktop [id=nav] .sub-menu .sub-menu a, .menu-desktop [id=nav] .sub-menu .children a, .menu-desktop [id=nav] .children .sub-menu a, .menu-desktop [id=nav] .children .children a {
  text-align: right;
  padding-right: 3.25em;
}

@media (max-width: 639px) {
  body:not([class*=menu]) [id=header] .custom-logo {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
  body:not([class*=menu]) [id=header]:before, body:not([class*=menu]) [id=header]:after {
    content: "";
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: inherit;
    z-index: -1;
  }
  body:not([class*=menu]) [id=header]:before {
    bottom: 100%;
  }
  body:not([class*=menu]) [id=header]:after {
    top: 100%;
  }
}
.menu-mobile [id=header] .custom-logo {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.menu-mobile [id=header]:before, .menu-mobile [id=header]:after {
  content: "";
  background: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: inherit;
  z-index: -1;
}
.menu-mobile [id=header]:before {
  bottom: 100%;
}
.menu-mobile [id=header]:after {
  top: 100%;
}
.nav-open [id=header] {
  color: white;
}
.nav-open [id=header]:before {
  bottom: 50% !important;
}
.nav-open [id=header]:after {
  top: 50% !important;
}

.menu-toggle {
  position: relative;
  z-index: 1000;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
  font-weight: 600;
  color: inherit;
  will-change: color;
  cursor: pointer;
  text-shadow: inherit;
  line-height: inherit;
  padding: calc(1.375rem + 0.625vw) calc(.75rem + 1.25vw);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: none;
  outline: none;
}
.menu-toggle:before, .menu-toggle:after {
  content: "";
  position: absolute;
  transition: 0.3s cubic-bezier(0.5, 0, 0, 1) 0.2s;
  box-sizing: border-box;
  width: 0.5rem;
  height: 0.5rem;
  left: 50%;
  border-style: solid;
  opacity: 0;
  will-change: opacity, top, bottom;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: white !important;
  z-index: -1;
}
.menu-toggle:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-width: 0 0 2px 2px;
  bottom: 100%;
}
.menu-toggle:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-width: 2px 2px 0 0;
  top: 100%;
}
.nav-open .menu-toggle {
  color: rgba(0, 0, 0, 0);
  transition: all 0.2s;
}
.nav-open .menu-toggle:before {
  bottom: 50%;
  opacity: 1;
}
.nav-open .menu-toggle:after {
  top: 50%;
  opacity: 1;
}

svg path {
  fill: black;
}

[id=footer] .container {
  padding: 1.5rem 0;
}
[id=footer] .footer-title {
  display: none;
}
